<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>First Template Design</title>
    <!-- Include Css File -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<!-- ******************* Start Upper-navbar **************** -->
<div class="alerts">
  <div class="container">
      <p>Do not forget to subscribe to the channel <span class="fa fa-long-arrow-right"></span></p>
      <a href="https://www.youtube.com/channel/UCREz-Klue_iyNKEpWJ3tk3g?view_as=subscriber" target="_blank"><img src="image/btn-subscribe.png"></a>
  </div>
</div>
<div class="upper-navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="social">
                    <span class="fa fa-facebook-f"></span>
                    <span class="fa fa-twitter"></span>
                    <span class="fa fa-youtube"></span>
                    <span class="fa fa-instagram"></span>
                    <span class="fa fa-pinterest-p"></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="office">
                    <div class="select">
                        <select>
                            <option>new york office</option>
                            <option>new york office</option>
                            <option>new york office</option>
                            <option>new york office</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ******************* End Upper-navbar **************** -->
<!-- ******************* Start Logo-info-navbar ********** -->
<div class="logo-info-navbar">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo">
                    <h3>your logo</h3>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="information">
                    <div class="col-sm-4 single-info">
                        <span class="fa fa-clock-o"></span>
                        <div class="info">
                            <h4>mon sat 9:00 - 18:00</h4>
                            <p>sunday closed</p>
                        </div>
                    </div>
                    <div class="col-sm-4 single-info">
                        <span class="fa fa-clock-o"></span>
                        <div class="info">
                            <h4>call us</h4>
                            <p>(098)7654321</p>
                        </div>
                    </div>
                    <div class="col-sm-4 single-info search">
                        <span class="fa fa-search"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ******************* End Logo-info-navbar ********** -->
<!-- ******************* Start Main-navbar ********** -->
<div class="main-navbar">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" data-value="header">home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#" data-value="about">about</a></li>
                    <li><a href="#" data-value="service">service</a></li>
                    <li><a href="#" data-value="gallery">gallery</a></li>
                  
                    <li><a href="#" data-value="blog">blog</a></li>
                     <li><a href="#" data-value="team">team</a></li>
                    <li><a href="#" data-value="news">news</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><button class="get">get a quote</button></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<!-- ******************* End Main-navbar ********** -->
<!-- ******************* Start Header ********** -->
<div class="header" id="header">
    <div class="container">
        <div class="content">
            <h1>we are logistics <br> network company</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit <br> sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua</p>
            <button class="btn-1">get free quote</button>
            <button class="btn-2">view sources</button>
        </div>
    </div>
</div>
<!-- ******************* End Header ********** -->

<!--******************* Start About ********** -->
<div class="about header-section" id="about">
    <div class="container">
        <div class="header-title text-center">
            <h1>welcome to <span>cargis</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod <br>
                tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box">
                    <div class="img">
                        <img src="image/gallery1.jpg">
                    </div>
                    <div class="info">
                        <h3>road fright</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod </p>
                        <a href="#">read more <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="img">
                        <img src="image/box2.png">
                    </div>
                    <div class="info">
                        <h3>air fright</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod </p>
                        <a href="#">read more <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="img">
                        <img src="image/box3.png">
                    </div>
                    <div class="info">
                        <h3>ocean fright</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod </p>
                        <a href="#">read more <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                    <div class="img">
                        <img src="image/box4.png">
                    </div>
                    <div class="info">
                        <h3>anynomus</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod </p>
                        <a href="#">read more <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--******************* End About ********** -->

<!--******************* Start Service ********** -->
<div class="service header-section" id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="serv">
                    <h1>what are you looking for ?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod </p>
                    <div class="item">
                        <img src="image/icon-3.png">
                        <p>forwarding service <br>
                        24/7</p>
                    </div>
                    <div class="item">
                        <img src="image/icon-4.png">
                        <p>transport package <br>
                            goods</p>
                    </div>
                    <div class="item">
                        <img src="image/icon-5.png">
                        <p>international road <br>
                            transport</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <h4 class="text-center">request a quick quote</h4>
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>your name</label>
                                    <input type="text" placeholder="your name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>subject</label>
                                    <input type="text" placeholder="subject">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>email address</label>
                                    <input type="text" placeholder="email address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>phone</label>
                                    <input type="text" placeholder="+00">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>service</label>
                                    <select>
                                        <option>air fright</option>
                                        <option>air fright</option>
                                        <option>air fright</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn-block" value="send to us">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--******************* End Service ********** -->

<!--******************* Start Gallery ********** -->
<div class="gallery header-section" id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-gallery">
                    <div class="img">
                        <img src="image/gallery1.jpg">
                    </div>
                    <div class="info">
                        <h4>you cargo is our concern</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod </p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-gallery">
                    <div class="img">
                        <img src="image/gallery2.jpg">
                    </div>
                    <div class="info">
                        <h4>you cargo is our concern</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod </p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mult-gallery">
                    <div class="item">
                        <div class="img">
                            <img src="image/recent-2.png">
                        </div>
                        <div class="info">
                            <h4>you cargo is our concern</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="image/recent-3.png">
                        </div>
                        <div class="info">
                            <h4>you cargo is our concern</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="image/recent-4.png">
                        </div>
                        <div class="info">
                            <h4>you cargo is our concern</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="image/recent-2.png">
                        </div>
                        <div class="info">
                            <h4>you cargo is our concern</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--******************* End Gallery ********** -->
<!--******************* Start Browser ********** -->
<div class="browser">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="content">
                    <h1>our features that we feel proud</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod </p>
                    <ul>
                        <li><span class="fa fa-check-square"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod</li>
                        <li><span class="fa fa-check-square"></span>ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod</li>
                        <li><span class="fa fa-check-square"></span>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="image">
                    <img src="image/browser.png">
                </div>
            </div>
        </div>
    </div>
</div>
<!--******************* End Browser ********** -->
<!--******************* Start happy-custom ********** -->
<div class="happy-custom header-section" id="blog">
    <div class="container">
        <div class="col-md-6">
            <h1>happy custom</h1>
            <div class="owl-carousel-custom owl-carousel owl-theme">
                <div class="item">
                    <div class="comment">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod</p>
                    </div>
                    <div class="img">
                        <img src="image/team/1.jpg">
                    </div>
                    <h3>hamam gazafe</h3>
                    <p>web design</p>
                </div>
                <div class="item">
                    <div class="comment">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod</p>
                    </div>
                    <div class="img">
                        <img src="image/team/1.jpg">
                    </div>
                    <h3>hamam gazafe</h3>
                    <p>web design</p>
                </div>
                <div class="item">
                    <div class="comment">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit  sed do eiusmod</p>
                    </div>
                    <div class="img">
                        <img src="image/team/1.jpg">
                    </div>
                    <h3>hamam gazafe</h3>
                    <p>web design</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel-group" id="accordion">
                <h1>frequently ask & questions</h1>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                             <span class="fa fa-plus-square"></span>   Collapsible Group 1</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                <span class="fa fa-plus-square"></span> Collapsible Group 2</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                <span class="fa fa-plus-square"></span> Collapsible Group 3</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--******************* End happy-custom ********** -->

<!--******************* Start Teams ********** -->
<div class="team header-section" id="team">
    <div class="container">
        <div class="header-title text-center">
            <h1>our team member</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor et dolore <br>
                sed do eiusmod tempor incididunt ut labore et dolore</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-team">
                <div class="image">
                    <img src="image/team/1.jpg">
                </div>
                <div class="info">
                    <h3>hamam gazafe</h3>
                    <p>web design</p>
                    <p>3 years of experience</p>
                </div>
                <div class="social">
                    <span class="fa fa-facebook-square"></span>
                    <span class="fa fa-twitter-square"></span>
                    <span class="fa fa-linkedin-square"></span>
                    <span class="fa fa-pinterest-square"></span>
                    <span class="fa fa-google-plus-square"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-team">
                <div class="image">
                    <img src="image/team/2.jpg">
                </div>
                <div class="info">
                    <h3>taha halby</h3>
                    <p>web design</p>
                    <p>3 years of experience</p>
                </div>
                <div class="social">
                    <span class="fa fa-facebook-square"></span>
                    <span class="fa fa-twitter-square"></span>
                    <span class="fa fa-linkedin-square"></span>
                    <span class="fa fa-pinterest-square"></span>
                    <span class="fa fa-google-plus-square"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-team">
                <div class="image">
                    <img src="image/team/3.jpg">
                </div>
                <div class="info">
                    <h3>heba taha</h3>
                    <p>web design</p>
                    <p>3 years of experience</p>
                </div>
                <div class="social">
                    <span class="fa fa-facebook-square"></span>
                    <span class="fa fa-twitter-square"></span>
                    <span class="fa fa-linkedin-square"></span>
                    <span class="fa fa-pinterest-square"></span>
                    <span class="fa fa-google-plus-square"></span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="single-team">
                <div class="image">
                    <img src="image/team/4.jpg">
                </div>
                <div class="info">
                    <h3>nada mohmed</h3>
                    <p>web design</p>
                    <p>3 years of experience</p>
                </div>
                <div class="social">
                    <span class="fa fa-facebook-square"></span>
                    <span class="fa fa-twitter-square"></span>
                    <span class="fa fa-linkedin-square"></span>
                    <span class="fa fa-pinterest-square"></span>
                    <span class="fa fa-google-plus-square"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--******************* End Teams ********** -->
<!--******************* Start Counter ********** -->
<div class="counter-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <span class="counter">21,687</span>
                <p>logistic service</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <span class="counter">25,687</span>
                <p>real custom</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <span class="counter">22,687</span>
                <p>kilometer travel weekly</p>
            </div>
            <div class="col-md-3 col-sm-6">
                <span class="counter">24,687</span>
                <p>products delivered</p>
            </div>
        </div>
    </div>
</div>

<!--******************* End Counter ********** -->
<!--******************* Start Featured-News ********** -->
<div class="featured-news header-section" id="news">
    <div class="container">
        <h1>featured news</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="single-featured-news">
                    <div class="img">
                        <img src="image/box2.png">
                    </div>
                    <div class="info">
                        <span>by<a href="#">hamam gazafe</a></span>
                        <span><i class="fa fa-comment"></i> 255 comments</span>
                        <h3>introduce new boat service in this spring</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor et dolore
                            sed do eiusmod tempor incididunt ut labore et dolore</p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-featured-news">
                    <div class="img">
                        <img src="image/box3.png">
                    </div>
                    <div class="info">
                        <span>by<a href="#">hamam gazafe</a></span>
                        <span><i class="fa fa-comment"></i> 255 comments</span>
                        <h3>introduce new boat service in this spring</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor et dolore
                            sed do eiusmod tempor incididunt ut labore et dolore</p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-featured-news">
                    <div class="img">
                        <img src="image/box4.png">
                    </div>
                    <div class="info">
                        <span>by<a href="#">hamam gazafe</a></span>
                        <span><i class="fa fa-comment"></i> 255 comments</span>
                        <h3>introduce new boat service in this spring</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor et dolore
                            sed do eiusmod tempor incididunt ut labore et dolore</p>
                        <a href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--******************* End Featured-News ********** -->
<!--******************* Start Client********** -->
<div class="client">
    <div class="container">
        <div class="owl-carousel-client owl-carousel owl-theme">
            <div class="item">
                <img src="image/cleint/1.jpg">
            </div>
            <div class="item">
                <img src="image/cleint/2.jpg">
            </div>
            <div class="item">
                <img src="image/cleint/3.jpg">
            </div>
            <div class="item">
                <img src="image/cleint/4.jpg">
            </div>
            <div class="item">
                <img src="image/cleint/5.jpg">
            </div>
        </div>
    </div>
</div>
<!--******************* End Client********** -->
<!--******************* Start Buy now********* -->
<div class="buy-now">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>do you have logistic business too ?</h2>
                <h4>dont forget to by this template</h4>
            </div>
            <div class="col-md-2">
                <a href="#">buy now <span class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>
<!--******************* End Buy now********* -->
<!--******************* Start Footer********* -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="columns box1">
                    <h2>your logo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor et dolore
                        sed do eiusmod tempor incididunt ut labore et dolore</p>
                    <a href="#">read more <span class="fa fa-angle-double-right"></span></a>
                    <div class="social">
                        <span class="fa fa-facebook-f"></span>
                        <span class="fa fa-twitter"></span>
                        <span class="fa fa-linkedin"></span>
                        <span class="fa fa-pinterest-p"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="columns box2">
                    <h3>quick links</h3>
                    <ul>
                        <li>home <p>sea freight</p></li>
                        <li>our service <p>road transportation</p></li>
                        <li>about us <p>air freight</p></li>
                        <li>news <p>railway logistic</p></li>
                        <li>contact us <p>sea freight</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="columns box3">
                    <h3>quick links</h3>
                    <ul>
                        <li>
                            <div class="icon">
                                <span class="fa fa-map-marker"></span>
                            </div>
                            <div class="info">
                                <p>united state / new york / sudan <br> egypt / australia</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-phone"></span>
                            </div>
                            <div class="info">
                                <p>(+00)987654321 <br>
                                (+11)123456789</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="fa fa-envelope"></span>
                            </div>
                            <div class="info">
                                <p>mail@gmail.com <br> hamam gazafe@gmail.com</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p class="copy">copyright &copy; hamam gazafe - 2018 - all right reserved</p>
</div>
<!--******************* End Footer********* -->








<!-- Include JavaScript File -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/jquery.counterup.js"></script>
<script src="js/custom.js"></script>
</body>
</html>