/*************************
      ****************
 START GLOBAL ROULS STYLE
      **************** 
 *************************/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	overflow: hidden;
}
/*************************
      ****************
     START HEADER STYLE
      **************** 
 *************************/
.header{width: 100%;background: url('../img/header2.jpg') top center no-repeat;background-size: cover;position: relative;height: 680px;}
.header .overlay{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.65);}
.navbar{background-color: #2196F3;border-radius: 0;margin-bottom:0;}
.scrolled{background-color:rgba(33, 150, 243, 0.59);}
.navbar .nav {float: right;}
.navbar .nav li{padding: 10px 0;text-transform: uppercase;border-bottom: 2px solid transparent;}
.navbar .nav li a,
.navbar .nav li a:hover{color: #FFF;padding: 10px 0;margin: 0 10px;font-weight: bold;}
.navbar .nav li.active>a,
.navbar .nav li a:hover{color: #000;border-bottom: 2px solid #000}
.nav > li > a:hover, .nav > li > a:focus{background:none;color: #000}
.navbar .navbar-brand{font-size: 60px;font-family: 'Android';margin-top: 10px;color: #FFFFFF}
.navbar-toggle span{font-size: 23px;color: #FFF;}
.header .logo{width: 150px;color: #000;position: relative;border-width: 75px 28px 0;border-style: solid;border-color: #FFF transparent;margin-top: 150px;margin-bottom: 100px;transform: rotate(180deg);bottom: 18px;left: 0;}
.header .logo:after{content: '';position: absolute;height: 0;width: 0;border-width: 0px 75px 60px;border-style: solid;border-color: transparent transparent #FFF;bottom: 75px;left: -28px;}
.header .logo i{ position: absolute;font-size: 76px;bottom: 15px;z-index: 1;transform: rotate(180deg);}
.header h1{font-family: 'Geometos';color:#2196F3;margin-bottom: 30px;position: relative;padding: 10px;}
.header h1:after{content: '';	width: 54%;height: 5px;bottom: -8px;left: 22%;background-color: #FFF;position: absolute;}
.header .content p{color: #CCC;width: 77%;margin: auto;text-align: center;margin-bottom: 80px;}
.header .know-more{width: 200px;border:2px solid #FFF;text-align: center;color: #FFF;padding: 6px;border-radius: 40px;font-size: 16px;background:none;}
.header .know-more:hover{background-color: #FFF;color: #2196F3}


/*************************
      ****************
     START ABOUT STYLE
      **************** 
 *************************/
.about{margin-bottom: 100px;}
.about .img img{width: 100% }
.about .info h3{margin-left: 20px;padding: 10px;line-height: 40px;}


/*************************
      ****************
    START SERVICES STYLE
      **************** 
 *************************/

.services{background:url('../img/17.jpg') center no-repeat;background-size: cover;background-attachment: fixed;position: relative;}
.services .overlay{width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.65);padding: 50px;}
.services h2{text-align: center;text-transform: uppercase;font-weight: bold;color: #2196F3;font-size: 26px;}
.services .img{text-align: center;}
.services i{font-size: 50px;color: #FFF;}
.services p{text-align: center;font-size: 18px;color: #FFF;}
.services .web-design{margin-top: 100px;}


/*************************
      ****************
    START PORTFOLIO STYLE
      **************** 
 *************************/

.portfolio{padding: 80px 0;}
.categories{ border:2px solid #2196F3;margin-bottom:20px; text-align: center;border-radius: 6px;}
ul.cat{margin: 10px;}
.categories>h4{color: #000}
ul.cat li{display: inline-block;text-transform: uppercase;}
ol.type li{display: inline-block;}
ol.type li:last-child:after { content: ''; }
ol.type li a{ color: #000;font-size: 16px;padding: 20px;text-align: center;}
ol.type li a:hover{ text-decoration: none;}
ol.type li a.active { font-weight: bold;background-color: #2196F3;border-radius: 6px;color: #FFF}
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item { z-index: 1 }
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {margin-right: -1px;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.isotope { -webkit-backface-visibility: hidden;backface-visibility: hidden; -webkit-transition-property: height, width;-moz-transition-property: height, width;transition-property: height, width;}
.isotope .isotope-item {-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; transition-property: transform, opacity;}
.portfolio-item{margin-bottom: 30px;}
.portfolio-item .hover-bg{height: 260px;overflow: hidden;position: relative;}
.portfolio-item .hover-bg img{height: 100%;width: 100%}
.hover-bg .hover-text {position: absolute;text-align: center;margin: 0 auto;color: #ffffff;background: rgba(0, 0, 0, 0.66);padding: 25% 0;height: 100%;width: 100%;opacity: 0;transition: all 0.5s;}
.hover-bg .hover-text>h4{opacity: 0;-webkit-transform: translateY(100%);transform: translateY(100%);transition: all 0.3s;}
.hover-bg:hover .hover-text>h4{opacity: 1; -webkit-backface-visibility:hidden;-webkit-transform: translateY(0);transform: translateY(0);}
.hover-bg .hover-text>i{opacity: 0;-webkit-transform: translateY(0);transform: translateY(0);transition: all 0.3s;}
.hover-bg:hover .hover-text>i{opacity: 1;-webkit-backface-visibility:hidden;-webkit-transform: translateY(100%);transform: translateY(100%);}
.hover-bg:hover .hover-text{opacity: 1;}
.portfolio i.fa {height: 30px;width: 30px;border: 1px solid #2196F3;font-size: 20px;padding: 5px;border-radius: 50%;color: #2196F3;}

/*************************
      ****************
 	 START TEAMS STYLE
      **************** 
 *************************/

.teams {background:url('../img/teams/background.jpg') center no-repeat;background-size: cover;background-attachment: fixed;position: relative;}
.teams .overlay{width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.65);padding: 50px;}
.teams p{width: 70%;margin: auto;padding: 10px;color: #FFF}
.teams .team:nth-child(2),
.teams .team:nth-child(3){margin-top: 60px;}
.teams .img{position: relative;background-color: #2196F3;overflow: hidden;transition: all .5s ease;height: 250px;}
.teams .img .overlay{position: absolute;top: 0;left: 0;width: 100%;height:100%;display: none;background-color: rgba(33, 150, 243, 0.51);transition: all .5s ease-in-out;border-radius: 5px;}
.teams .img img{width: 100%;border-radius: 5px;transition: all .5s ease-in-out;height: 100%}
.teams .img .overlay .social-media{position: absolute;top: -50px;transition: all .5s ease-in-out;}
.teams .img .overlay .social-media i{font-size: 20px;margin: 7px;color: #FFFFFF;}
.teams .img:hover .social-media{top: 40%;transform: translateY(10%);}
.teams .img:hover .overlay{display: block;}
.teams .info{padding: 10px;}
.teams .info h2{ font-weight: bold;text-transform: uppercase;font-size: 20px;color:#2196F3;text-align: center; }
.teams .info p{text-align: center;text-transform: uppercase;color: #FFF}


/*************************
      ****************
     START CLIENT STYLE
      **************** 
 *************************/

.client p{width: 70%;margin: auto;text-align: center;}
.client ul{text-align: center;}
.client ul li {display: inline-block;}
.client ul li i{margin: 30px;padding: 10px;font-size: 110px;}
.client ul li i.fa-android:hover {color: #3b8701}
.client ul li i.fa-apple:hover {color: #666}
.client ul li i.fa-amazon:hover {color: #d0ae13}
.client ul li i.fa-cc-stripe:hover {color: #6b13d0 }
.client ul li i.fa-behance:hover {color: #00a8ff}
.client ul li i.fa-envira:hover {color: #24e83a }
.client ul li i.fa-cc-visa:hover {color: #22154e }

/*************************
      ****************
   START TESTMONIAL STYLE
      **************** 
 *************************/
.testmonial{background: url('../img/testmonial.jpg') center no-repeat;background-size: cover;background-attachment: fixed;position: relative;}
.testmonial .overlay{width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.65);padding: 50px;}
.testmonial .carousel-indicators {position: static;padding-top: 20px;width: 100%;margin-left: auto;}
.testmonial .carousel-indicators .active{background-color: #2196F3}
.testmonial .carousel-control.right,
.testmonial .carousel-control.left{background: none;}
.testmonial .item{text-align: center;}
.testmonial p{line-height: 2em;padding: 10px;width: 80%;margin: auto;color: #FFF;margin-bottom: 20px;}
.testmonial span{font-size: 20px;font-weight: bold;color: #2196F3;text-transform: uppercase;margin-top: 20px;}

/*************************
      ****************
   START CONTACT STYLE
      **************** 
 *************************/
.contact{margin-top: 50px;}
.contact ul{text-align: center;direction: rtl;}
.contact ul li{display: inline-block;margin: 30px;direction: ltr;}
.contact ul li i{font-size: 60px;}
.contact ul li .fa-facebook-square{color:#112250}
.contact ul li .fa-twitter-square{color:#00d1fe}
.contact ul li .fa-envelope-o{color:#da4646}
.contact ul li .fa-phone{color:#4caf50}
.contact ul li h3{text-transform: uppercase;font-weight: bold;color:#2196F3 }
.contact .input-group{width: 40%;margin: auto;}
.contact .input-group .form-control{height: 40px;text-transform: uppercase;border-radius: 5px;margin-bottom: 20px;background-color: #444;color: #FFF;}
.contact .input-group textarea {resize: none;height: 100px;}
.contact .input-group textarea.form-control{height: 150px}
.contact .send{text-align: center;}
.contact .send a{color: #FFFFFF;font-size: 20px;background-color: #2196F3;padding: 10px;border-radius: 6px;}
.contact .send a:hover{text-decoration: none;background:none;border:2px solid #2196F3;color:#2196F3; }

/*************************
      ****************
   START FOOTER STYLE
      **************** 
 *************************/
.footer{margin-top: 100px;text-transform: uppercase;background: url('../img/header2.jpg') center no-repeat;background-size: cover;background-attachment: fixed;position: relative;}
.footer .overlay{width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(0, 0, 0, 0.65);padding-top: 50px;padding-bottom: 20px}
.teams p{width: 70%;margin: auto;padding: 10px;color: #FFF}
.footer .reserved{text-align: left;font-size: 15px;padding-top: 15px;color: #FFF}
.footer .reserved span{font-size: 20px;color: #2196F3}
.footer .title{text-align: center;font-size: 50px;color: #FFF}
.footer .up{text-align: right;font-size: 40px;}
.footer .up i{background-color: #2196F3;padding: 5px;border-radius: 5px; }

/*************************
      ****************
   START FOOTER STYLE
      **************** 
 *************************/
.loading-overlay{background-color: #FFF;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index:99999;color: #FFF}
.sk-cube-grid {width: 100px;height: 100px; margin: 100px auto;}
.sk-cube-grid .sk-cube {width: 33%;height: 33%;background-color: #2196F3;float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}



.about h1,
.services h1,
.section-title h1,
.teams h1,
.client h1,
.testmonial h1,
.contact h1{
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 39px;
	font-weight: bold;
	margin-bottom: 50px;
	color: #2196F3;
	position:relative;
	font-family: 'Geometos';
}


/* My Framework */
.sec1:before{ content: ''; width: 100%;background:url('../img/before.png') center;position: absolute;bottom:-53px;left: 0; height: 105px;}
.sec2:after{content: ''; width: 100%; background:url('../img/after.png') center;background-size:cover; position: absolute;top:-53px;left: 0;height: 105px;}

@media (max-width: 520px){

 h2{font-size: 20px;}
.header h1{ font-size: 26px; }
.about h1,.services h1,.section-title h1,.teams h1,.client h1,.testmonial h1,.contact h1{ font-size: 30px;}
.client p{width: 100%;margin-bottom: 20px;padding: 0;}
.teams p{width: 100%;margin-bottom: 20px;padding: 0;color: #FFF}
ol.type li{margin-left: -50px;}
ol.type li a{display: block;margin-right: 30px;}
.testmonial p{width: 100%;margin: 0;}

}
@media (max-width: 767px){
.navbar-collapse{background-color: #00BCD4}
}
@media (max-width: 991px){
	.contact .input-group{ width: 90% }
}
/* End Framwork */