/* START GLOBEL ROULS */
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
body{
}

/************************************/
/************* START NAVIGATION ****************
			*********************/
.navbar {padding: 20px;transition: all 0.8s;}
.navbar.navbar-default {background-color: rgba(248, 248, 248, 0);border-color: rgba(231, 231, 231, 0);}
.navbar a.navbar-brand {text-transform: uppercase;font-size: 22px;color: #fff;font-weight: 900;}
.navbar a.navbar-brand span{color: #fcac45}
.navbar.navbar-default .navbar-nav > li > a {text-transform: uppercase;color: #FFF;font-size: 12px;letter-spacing: 1px;}
.on {background-color: #222222 !important;padding: 0 !important;}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {color: #FCAC45 !important;background-color: transparent;font-weight: 700;}
.navbar-toggle {border-radius: 0;}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {background-color: #FCAC45;border-color: #FCAC45;}
.navbar-default .navbar-toggle:hover>.icon-bar {background-color: #FFF;}

/************************************/
/************* START HEADER ****************
			*********************/
.header{background: url('../img/header.jpg') top center no-repeat;background-size: cover;background-attachment: fixed;height: 700px;}
.header .overlay{background-color: rgba(0,0,0,0.6);height: 100%;background-attachment: fixed;}
.header .content{position: relative;padding: 20% 0 0;color: #cfcfcf;font-family: 'Raleway', sans-serif;word-spacing: 10px;}
.header .content span {color: #fcac45;font-weight: bold;}
.header .content p{font-size: 29px;padding-top: 45px;font-family: 'Raleway', sans-serif;letter-spacing: 2px;color: #DDD;}
a.fa.fa-angle-down {padding: 5px;color: #fff;border: 2px solid #b4b4b4;border-radius: 16%;font-size: 50px;margin-top: 200px;transition: all 0.5s;}
a.fa.fa-angle-down:hover{background: #fcac45;color: #ffffff;border: 2px solid #fcac45;text-decoration: none;}

/************************************/
/************* START ABOUT ****************
			*********************/
.about{
	margin-top: 5px;
	padding-top:50px;
}
.about img{
	width: 100%;
	height: 100%;
}
.text-header {
	text-transform: uppercase;
	margin-bottom: 80px;
}
.about .text-header h2{
font-size: 32px;
	font-weight: bold;
}
.about .section-title{
	text-transform: uppercase;
}
.about .section-title strong{
	color: #fcac45
}
.section-title hr{
	border-color: #fcac45;
	border-width: 4px;
	width: 60px;
	float: left;
	clear: both;
}
.text-header hr{
	border-color: #fcac45;
	border-width: 4px;
	width: 120px;
	clear: both;
}
.about .info{
	font-size: 20px;
}
.about ul{
	margin-left: -36px;
}
.about ul li{
	list-style: none;

}
.about ul li i{
	font-size:20px;
	margin-right: 10px;
	color: #fcac45;
}
.about ul li h6{
	display: inline-block;
	width: 176px;
	font-size: 20px;
}
.about ul li p{
	display: inline-block;
} 


/************************************/
/************* START SKILLS ****************
			*********************/

.my-skills{
	text-align: center;
	text-transform: uppercase;
	background: rgba(204, 204, 204, 0.22);
	padding-bottom: 90px;
	padding-top: 50px;
}

.my-skills h2{
	font-size: 32px;
	font-weight: bold;
}
.my-skills h2 span{
	color: #fcac45;
	font-size: 32px;
}
.my-skills span{
	font-size: 18px;
	color: #333;
}
.my-skills .circle{
	margin-top: 30px;
}
.my-skills .circle canvas{
	width: 200px
}
.my-skills strong{
	position: absolute;
	top: 124px;
    left: 104px;
    font-size: 42px;
}

/************************************/
/************* START WORK ****************
			*********************/

.work{
	padding-top: 50px;
}
.work h2{
	font-size: 32px;
	font-weight: bold;
}
.work h2 span{
	color: #fcac45;
	font-size: 32px;
}
.work .img{
	position: relative;
	margin-bottom: 10px;
	border:2px solid #fcac45;
	box-shadow: 2px 2px 7px #a9a9a9
}
.work img{
	width: 100%;
	height: 250px;
}
.work .img .overlay{
	background-color: #fcac45;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	display: none;
	overflow: hidden;
}
.work .img:hover .overlay{
	display: block;
	animation: height .5s 1 linear;

}
.work .img .overlay p{
	position: absolute;
	font-size: 30px;
	top:-50%;
	text-transform: uppercase;
	color: #FFF
}
.work .img:hover .overlay p{
	top: 33%;
	padding-left: 27%;
}
@keyframes height{
	0%{
		height: 0%;
	}
	100%{
		height: 100%;
		opacity: .8
	}
}

/************************************/
/************* START CONTACT ****************
			*********************/
.contact{
	margin-top: 100px;
	padding-top: 50px;
	background-color: #DDD;
	padding-bottom: 30px;
}
.contact .input-group .form-control{
	margin-bottom: 20px;
	border-radius:5px;
}
.contact .input-group input{
	height: 40px;
	text-transform:uppercase;
}
.contact .input-group textarea{
	resize: none;
	height: 200px;
	text-transform:uppercase;
}
.contact ul{
	margin-left: -20px;
}
.contact ul li{
	list-style: none;
	line-height: 60px;
}
.contact ul li i{
	font-size: 40px;
}
.contact ul li i:hover{
	color: #fcac45
}
.contact ul li span{
	margin-left:30px;
	font-size:17px;
}
.contact .send{text-align: center;}
.contact .send a{color: #FFFFFF;font-size: 20px;background-color: #fcac45;padding: 10px;border-radius: 6px;}
.contact .send a:hover{text-decoration: none;background:none;border:2px solid #fcac45;color:#fcac45; }

/************************************/
/************* START FOOTER ****************
			*********************/
.footer{
	background-color: #fcac45;
	padding: 10px;
	color: #FFF;
	font-size: 20px;
	text-transform: uppercase;
}
.footer .up{
	text-align: right;
}
.footer .up i{
	background-color: #FFF;
	color: #000;
	padding: 10px;
}

/*************************
      ****************
   START FOOTER STYLE
      **************** 
 *************************/
.loading-overlay{background-color: #FFF;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index:99999;color: #FFF}
.sk-cube-grid {width: 100px;height: 100px; margin: 100px auto;}
.sk-cube-grid .sk-cube {width: 33%;height: 33%;background-color: #fcac45;float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}