/*************************
      ****************
 START GLOBAL ROULS STYLE
      **************** 
 *************************/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	height: 5000px;
	background: none;
  font-family: 'Raleway', sans-serif;

}
/*************************
      ****************
  ******  START HEADER STYLE ******
      ****************  
 *************************/
.header {background: url('../img/header.jpg') top center no-repeat;background-size: cover;height: 700px;position: relative;}
.header .overlay{background-color: rgba(0,0,0,0.6);position: absolute;height: 100%;width: 100%;top: 0;left: 0;}
.header .item{text-transform: uppercase;color: #FFF;padding-top: 16%;margin-bottom: 100px;text-align: center;}
.header .item h1{font-size: 50px;font-weight: bold;padding-bottom: 50px;}
.header .item h1 span,
.header .item p span{color: #00b896;}
.header .item p{font-size: 30px;font-weight: bold;}
.click{text-align: center;text-transform: uppercase;font-size: 18px;}
.click a{border:2px solid #FFF;padding: 20px;color: #FFF;position:relative;width: 200px;}
.click .overlay-botton{position: absolute;top: 0;left: 0;width: 100%;height: 100%;opacity: .8}
.click a:hover{text-decoration: none; }
.click a:hover .overlay-botton{animation: background 1s 1 linear }
.carousel-control span{background-color: #00b896;font-size: 40px;}
.carousel-control.right span{position: absolute;right: 1px;padding: 10px;}  
.carousel-control.left span{position: absolute;left: 1px;padding: 10px;}  
.carousel-control.left,
.carousel-control.right {background: none;padding-top: 25%;width:0;}
@media (max-width: 434px){
	.header .item h1{font-size: 40px}
}
@keyframes background{
	0%{width: 30%;background-color: #00b896;}
	15%{width: 40%;background-color: #00b896;}
	30%{width: 70%;background-color: #00b896;}
	50%{width: 100%;background-color: #00b896;}
	70%{width: 70%;background-color: #00b896;}
	80%{width: 50%;background-color: #00b896;}
	90%{width: 0%;background-color: #00b896;}
	100%{width:20%;background: none;}
}

/**********************************
      ************************
  ******  START NAVIGATION STYLE ******
      ************************ 
 **********************************/

.navbar-default {background-color: #f8f8f8;border-color: #e7e7e7;box-shadow: 0 0 1px #000;border-radius: 0;text-transform: uppercase}
.navbar-default .navbar-nav>li>a{color: #000;}
.navbar-default .navbar-nav>.active>a{background: #00b896;color: #000}
.navbar-default .navbar-brand{color: #000;font-size: 20px;font-weight: bold;} 
.navbar-default .navbar-brand span{color: #00b896}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{color: #000}


/**********************************
      ************************
  ******  START ABOUT STYLE ******
      ************************ 
 **********************************/
 .about{padding-top: 50px;margin-top: 50px}
 .section-title h1{text-transform: uppercase;font-size:70px;font-weight: 900;line-height: 60px;font-family: 'arial';color:#00b896;text-align: left;width: 300px;text-align: right;}
 .about p{margin-top: 33px;}
 .about h3{color: #d0be24}
 .square{position: relative;background-color: #00b896;width: 95px;height: 170px;float: left;padding-right: 10px}
 .section-title h1:nth-child(2){color:#000}
 .about img{width: 90%}
 .about .buttom{margin-top: 100px;}
 .about .buttom h2{font-size: 30px;font-weight: bold; }
 .about .buttom h3{font-size: 17px;font-weight: bold; }
  @media (max-width: 560px){
  	.about h1{font-size: 73px; }
}
 @media (max-width: 350px){
 .section-title h1{font-size: 53px;line-height: 50px;text-align: center;}
}


/**********************************
      ************************
  ******  START STATISTIC STYLE ******
      ************************ 
 **********************************/
 .statistic{background-color: #00b896;margin-top: 100px;padding: 50px;margin-left: -17px;}
 .statistic .item{width: 200px;height: 200px;border-radius: 50%;font-weight: bold; background-color: #FFF;border:5px solid #888;position: relative;text-transform: uppercase;text-align: center;margin-bottom: 10px;}
 .statistic .item h1{font-size: 82px;line-height: 80px;color: #00b896}
 .statistic .item p{ font-size: 32px;}
/**********************************
      ************************
  ******  START VIDEO STYLE ******
      ************************ 
 **********************************/
.watch-video {background: url('../img/video.png') center no-repeat;background-size: 100% 133%;position: relative;text-align: center;height: 400px;}
.watch-video .overlay{position: absolute;width: 100%;height: 100%;background-color: rgba(0,0,0,0.7);color: #FFF}
.watch-video h1{font-weight: 900;margin-top: 50px;font-size: 40px;}
.watch-video .click-play{border: 6px solid rgba(68, 68, 68, 0.63); border-radius: 50%;font-size: 60px; width: 120px;padding: 9px 18px 10px 32px; margin: auto;margin-top: 47px;background-color: rgba(221, 221, 221, 0.71);transition: all .5s ease;}
.watch-video .click-play:hover{background-color: #00b896;transform: scale(1.2);}

/**********************************
      ************************
  ******  START TEAM STYLE ******
      ************************ 
 **********************************/
.team{margin-top: 50px;padding-top: 50px;}
.team >p{margin-top: 30px}
.team .bottom{margin-top: 100px;}
.team .bg{background-color: #00b896;height: 300px;position: relative;margin-bottom: 10px}
.team .bg .img{position:absolute;height:96%;width: 100%;top: -5px;left: 10px;background-color:#888;overflow: hidden;transition: all .5s ease-in-out;}
.team .bg .img img{width: 100%;height: 85%;}
.team .bg .img .info{height: 15%;padding: 10px;background-color: #f9e114;transition: all .5s ease-in-out;position: relative;height:50%;width: 100%;font-size: 17px;text-transform: uppercase;}
.team .bg .img .info p{text-align: center;font-weight: bold;}
.team .bg .img .info:hover{background-color:#f9e114;animation: top .3s 1 linear;animation-fill-mode: forwards;}
.team .bg .img .info li{margin: 10px;display: inline-block;list-style: none;}
.team ul li .fa-facebook-square{color:#112250}
.team ul li .fa-twitter-square{color:#00d1fe}
.team ul li .fa-envelope-o{color:#da4646}
.team ul li .fa-skype{color:#51b5ef}
@keyframes top{
	0%{top:-10px;}
  25%{top:-20px;}
  50%{top:-50px;}
  75%{top:-75px;}
  100%{top:-100px;}
}

/**********************************
      ************************
  ******  START SKILLS STYLE ******
      ************************ 
 **********************************/
.skills{margin-top: 70px;padding: 20px;background-color: #00b896;}
.skills h2{text-transform: uppercase;font-weight: bold; margin-bottom: 40px;}
.progress {height:9px;background-color: #dadfe1;border-radius: 0px;-webkit-box-shadow: none;box-shadow: none;clear: both;margin: 6px 0 16px 0;overflow: inherit;}
.progress-bar{
position:relative;
 transition:all 200ms linear !important;   
 -webkit-transition:all 200ms linear !important;   
 -moz-transition:all 200ms linear !important;   
 -ms-transition:all 200ms linear !important;   
 -o-transition:all 200ms linear !important;   
}
.wrapp-progress .photo{background-color: #51c7bd}
.wrapp-progress .illu{background-color: #c8e822}
.wrapp-progress .ind{background-color: #e8226a}
.wrapp-progress .htcss{background-color: #22e83c}
.wrapp-progress .word{background-color: #228be8}
.wrapp-progress .ecom{background-color: #ffa406}
.wrapp-progress{position:relative;  padding-top: 40px;}
.wrapp-progress p{font-size:14px;font-family: 'Lato', sans-serif;  color:#444444;  font-weight:bold;margin:0;padding:0;line-height:24px;position:absolute;left:0;top: 0px;}
.precent-value{color:#fff;  font-size:12px;line-height:24px;position:absolute;right: -25px;top: -30px;height: 24px;width: 50px;background: #1d1d1d;border-radius: 3px;font-family: 'VerelaRound';}
.progress-bar i{font-size:24px;color:#1d1d1d;position:absolute;right: -7px;top: -16px;}
.progress {clear: both;}

/**********************************
      ************************
  ******  START QUALITY STYLE ******
      ************************ 
 **********************************/
.quality{background:url('../img/quality.jpg') center no-repeat;background-size: 100% 100%;height: 600px;margin-top: 100px;position: relative;}
.quality .overlay{position: absolute;top: 0;left: 0;width: 100%;height:100%;color:#FFF}
.quality h1{text-transform: uppercase;font-weight: bold;padding-top: 50px;}
.quality p{text-align: center;width: 70%;margin: auto;padding-top: 30px;}
.quality .click{padding-top: 50px;}


/**********************************
      ************************
  ******  START WE-DO STYLE ******
      ************************ 
 **********************************/
.we-do{margin-top: 50px;padding-top: 50px;}
.we-do p{ margin-top: 30px;} .we-do .bottom{ margin-top: 100px;}
.we-do .bottom .categ{text-align: center;margin-bottom: 10px;background-color: #f3f3f3; padding: 10px;}
.we-do .bottom .categ i{ font-size: 50px; color: #d6c000}
.we-do .bottom .categ h3{ text-transform: uppercase;font-weight: bold;font-size: 20px}  

/**********************************
      ************************
  ******  START BACJAGE STYLE ******
      ************************ 
 **********************************/
.package{margin-top: 100px;background-color: #f1f2f7;padding: 50px; }
.package .item{background-color: #FFF;height: auto; text-align: center;margin-bottom: 10px}
.package .item h2{font-weight: bold;font-size: 25px;}
.package .item h1{display: inline-block;font-size: 70px;font-weight: bold; margin-top: -16px;}
.package .item .top p{  display: inline-block; font-size: 18px;text-align: left; }
.package .item .top span{ font-size: 20px;}
.package .top{padding-top: 3px;}
.package .starter .top{background-color: #42ca64;color: #FFF;}
.package .standerd .top{background-color: #e6dd05;color: #FFF;}
.package .professional .top{background-color: #e24f4f;color: #FFF;}
.package .premium .top{background-color: #42bfca;color: #FFF;}
.package .starter .top hr{background-color: #2ca24a;}
.package .standerd .top hr{background-color: #d4cb00;}
.package .professional .top hr{background-color: #d44141}
.package .premium .top hr{background-color: #1bb8c5}
.package hr {height: 2px;border: 0;width: 86%;}
.package .bottom{text-align: center;padding: 10px;text-transform: capitalize;}
.package .bottom ul{margin: 15px 20px 12px 0;font-size: 16px;}
.package .bottom li{list-style: none;}
.package .bottom li span{font-weight: bold;}
.package .bottom .signin{margin: 20px;text-transform: uppercase;margin-top: 50px;}
.package .bottom .signin a{padding: 10px;color: #000;border:3px solid #00b896;font-weight:bold;}


/**********************************
      ************************
  ******  START HUPPY-CUSTOM STYLE ******
      ************************ 
 **********************************/

.happy-custom{position: relative;background: url('../img/huppy.jpg') center no-repeat;background-size: cover;height: 500px;}
.happy-custom h1{text-transform: uppercase;font-weight: bold;margin-top: 50px;}
.happy-custom >.overlay{position: absolute;height: 100%;width:100%;background-color:rgba(0,0,0,0.6);color: #FFF}
.carousel-indicators{position: static;width: 100%;margin-left: auto;margin-top: 50px;padding-bottom: 20px;transition: all .3s ease-in-out}
.carousel-indicators .active{transform: scale(1.2,1.2);width: 8%;background: none;}
.carousel-indicators li{transition: .3s;text-indent: 0;width: 60px;height: 60px;border-radius: 50%;border:0;background: none;margin: -7px;}.carousel-indicators img{width: 100%;border-radius: 50%;}
.happy-custom .item>p:nth-child(1){width: 70%;margin: auto;padding-top: 40px;margin-bottom: 27px}
.happy-custom .item span{font-weight: bold;margin-right: 20px}
.happy-custom .left i{font-size: 60px;position: absolute;top: 0;left: 40px;}
.happy-custom .right i{font-size: 60px;position: absolute;top: 0;right: 40px}

/**********************************
      ************************
  ******  START WORK STYLE ******
      ************************ 
 **********************************/
.work{margin-top: 50px;padding-top: 50px;}
.work .top p{ margin-top: 30px;}
.work .bottom{ margin-top: 100px;}
.portfolio{padding: 80px 0;}
.categories{margin-bottom:20px; text-align: center;border-radius: 6px;}
ul.cat{margin: 10px;}
.categories>h4{color: #000}
ul.cat li{display: inline-block;text-transform: uppercase;}
ol.type li{display: inline-block;margin-bottom: 10px;}
ol.type li:last-child:after { content: ''; }
ol.type li a{ color: #000;font-size: 16px;padding: 10px 20px;text-align: center;}
ol.type li a:hover{ text-decoration: none;}
ol.type li a.active { font-weight: bold;border:2px solid #00b896;color: #00b896;}
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item { z-index: 1 }
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope-item {margin-right: -1px;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
.isotope { -webkit-backface-visibility: hidden;backface-visibility: hidden; -webkit-transition-property: height, width;-moz-transition-property: height, width;transition-property: height, width;}
.isotope .isotope-item {-webkit-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; transition-property: transform, opacity;}
.portfolio-item{margin-bottom: 30px;border: 2px solid #DF4;}
.portfolio-item .hover-bg{height: 260px;overflow: hidden;position: relative;}
.portfolio-item .hover-bg img{height: 100%;width: 100%}
.hover-bg .hover-text {position: absolute;text-align: center;margin: 0 auto;color: #ffffff;background: rgba(0, 0, 0, 0.66);padding: 25% 0;height: 100%;width: 100%;opacity: 0;transition: all 0.5s;}
.hover-bg .hover-text>h4{opacity: 0;-webkit-transform: translateY(100%);transform: translateY(100%);transition: all 0.3s;}
.hover-bg:hover .hover-text>h4{opacity: 1; -webkit-backface-visibility:hidden;-webkit-transform: translateY(0);transform: translateY(0);}
.hover-bg .hover-text>i{opacity: 0;-webkit-transform: translateY(0);transform: translateY(0);transition: all 0.3s;}
.hover-bg:hover .hover-text>i{opacity: 1;-webkit-backface-visibility:hidden;-webkit-transform: translateY(100%);transform: translateY(100%);}
.hover-bg:hover .hover-text{opacity: 1;}
.portfolio i.fa {height: 30px;width: 30px;border: 1px solid #2196F3;font-size: 20px;padding: 5px;border-radius: 50%;color: #2196F3;}

/**********************************
      ************************
  ******  START CLINET STYLE ******
      ************************ 
 **********************************/

.clinet{margin-top: 50px;padding-bottom: 20px;margin-bottom: 50px;background-color: #f1f2f7}
.clinet h1{text-transform: uppercase;margin-bottom: 45px;font-weight: bold;}
.clinet h1 span{color: #00b896;font-weight: 900}
.owl-carousel {
display: none;width: 100%;-webkit-tap-highlight-color: transparent; position: relative; z-index: 1;}
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y;-moz-backface-visibility: hidden; }
.owl-carousel .owl-stage:after {content: ".";display: block;clear: both;visibility: hidden; line-height: 0;height: 0; }
.owl-carousel .owl-stage-outer {position: relative;overflow: hidden; -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .item{ background-color: #fff; text-align: center; font-size: 94px;}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item {position: relative;min-height: 1px;float: left;-webkit-backface-visibility: hidden;-webkit-tap-highlight-color: #DDD;-webkit-touch-callout: none; }
.owl-carousel .owl-item img {display: block;width: 100%; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {display: none; }
.owl-nav{display: none;}
.owl-carousel .owl-dots{text-align: center;color: #444;margin-top: 20px;}
.owl-carousel .owl-dot{display: inline-block; margin-left: 10px }
.owl-carousel .owl-dots .active span{color: #00b896 }
.owl-carousel.owl-loaded {display: block; }
.owl-carousel.owl-loading {opacity: 0;display: block; }
.owl-carousel.owl-hidden {opacity: 0; }
.owl-carousel.owl-refresh .owl-item {visibility: hidden; }
.owl-carousel.owl-drag .owl-item {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none; }
.owl-carousel.owl-grab { cursor: move; cursor: grab; }
.owl-carousel.owl-rtl {direction: rtl; }
.owl-carousel.owl-rtl .owl-item { float: right; }


/**********************************
      ************************
  ******  START BLOGS STYLE ******
      ************************ 
 **********************************/
.blog{padding-top: 50px;}
.blog .bottom{margin-top: 60px;}
.thumbnail{border-radius: 0;padding: 0;background-color: #f1f2f7;overflow: hidden;}  
.thumbnail h3{text-transform: uppercase;font-weight: bold;padding-left: 10px;font-size: 22px} 
.thumbnail p{padding-left: 13px;text-transform:capitalize;margin-bottom: 30px;}
.blog .thumbnail a>img,.blog .thumbnail>img{width: 100%;height: 200px}
.thumbnail .con-read{color: #bba90e;display: inline-block;margin-bottom: 16px;}
.thumbnail .ico {display: inline-block;float: right;padding-right: 10px;}
.blog .bottom .button{text-align: center;padding: 10px;text-transform: uppercase;margin-top: 70px;font-weight: bold;}
.blog .bottom .button a{border: 4px solid #00b896;padding: 10px;}
.blog .bottom .button a:hover{text-decoration: none;}


/**********************************
      ************************
  ******  START SUBSCRIBE STYLE ******
      ************************ 
 **********************************/

.subscribe{margin-top: 100px;background: url('../img/subscrib.jpg') center no-repeat;background-size: cover;height: 500px;position: relative;overflow: hidden;}
.subscribe .overlay{background-color: rgba(0, 0, 0, 0.36);position: absolute;height: 100%;width: 100%;color: #FFF;text-align: center;}
.subscribe h1{text-transform: uppercase;font-weight: bold;margin-top: 50px;margin-bottom: 50px;}
.subscribe form{margin-top: 90px;}
.subscribe input[type=email]{width: 40%;height: 38px;background-color: rgba(255, 255, 255, 0.65);border: 0;font-size: 17px;padding-left: 16px;}
.subscribe input[type=submit]{
  width: 15%;height: 38px; background: #ffe500;border: 0;text-transform: uppercase;margin: -4px;font-size: 17px}
@media (min-width: 900px){
  .subscribe p{width: 65%;margin: auto;}
}
@media (max-width: 500px){
  .subscribe input[type=email]{width: 60%;}
  .subscribe input[type=submit]{width: 40%}
}


/**********************************
      ************************
  ******  START TOUCH STYLE ******
      ************************ 
 **********************************/

.touch{margin-top: 50px;padding-top: 50px}
.touch .bottom{margin-top: 60px;}
.touch input{width: 100%;height: 38px;margin-bottom: 14px;border:2px solid #DDD;padding-left: 10px;}
.touch textarea{width: 100%;resize: none;height: 90px;margin-bottom: 10px;border:2px solid #DDD;padding: 10px}
.touch input[type=submit]{border: 4px solid #00b896;background: none;text-transform: uppercase;font-weight: bold;}

/**********************************
      ************************
  ******  START CONTACT STYLE ******
      ************************ 
 **********************************/

.contact{margin-top: 40px;background-color: #f1f2f7;text-align: center;padding-bottom: 50px;}
.contact h1{text-transform: uppercase;font-weight: bold;margin-top: 40px;}
.contact .icon{background-color: #999;border-radius: 50%;font-size: 65px;width: 133px;color: #FFF;margin: auto;margin-top: 40px;}
.contact .map{background-color: #2decc0;}
.contact .email{background-color: #fb4646;}
.contact .phone{background-color: #bdd404;}
.contact .skype{background-color: #04b7d4;}
.contact h2{font-weight: bold;}

/**********************************
      ************************
  ******  START SOCIAL STYLE ******
      ************************ 
 **********************************/

.social{margin-bottom: 25px;background: url('../img/subscrib.jpg') center no-repeat;background-size: cover;padding: 100px;position: relative;margin-top: -3px}
.social .overlay{background-color: rgba(0, 0, 0, 0.36);position: absolute;height: 100%;width: 100%;color: #FFF;text-align: center;left: 0;top: 0;}
.social ul{text-align: center;margin-top: 50px}
.social ul li{list-style: none;display: inline-block;background-color: #a9a9a9;font-size: 40px;padding: 10px;border-radius: 50%;width: 73px;}
@media (max-width: 400px){
  .social ul li{display: block;margin: auto;}
  .social{height: 599px;}
}
.example iframe {width: 100%;height: 500px;}
.footer span{font-weight: bold;}